<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>alternate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alternate</ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="flex-col ion-align-items-center">
    <ion-button color="secondary" (click)="home()">Go Home</ion-button>
  </section>
</ion-content>
